%h1.text-xl.font-bold.mb-4 Products

%div{class: 'grid grid-cols-2 gap-4'}
  %div
    - @products.each do |product|
      = render partial: "product", locals: { product: product }

  %div{id: 'cart'}
    = render partial: "carts/cart", locals: { cart: current_cart }